services:
  app:
    build:
      context: .
    image: ivoryros/fcgi-nginx-hello:compose
    container_name: fcgi_app
    networks:
      - backend

  proxy:
    image: nginx:alpine
    container_name: nginx_proxy
    depends_on:
      - app
    volumes:
      - ./nginx/proxy.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:8080"
    networks:
      - backend

networks:
  backend:
    driver: bridge
